*.v linguist-language=V text=auto eol=lf
*.vv linguist-language=V text=auto eol=lf
*.vsh linguist-language=V text=auto eol=lf
**/v.mod linguist-language=V text=auto eol=lf
tinyfiledialogs/* linguist-vendored
tinyfiledialogs/tinyfiledialogs.c linguist-vendored=false linguist-detectable=false
tinyfiledialogs/tinyfiledialogs.h linguist-vendored=false linguist-detectable=false
